<footer class="site-footer">

	<h2 class="footer-heading">{{ site.title }}</h2>

	<div class="footer-col-wrapper">
		<div class="footer-col  footer-col-1-2">
			<p class="text">{{ site.description }}</p>
		</div>
	</div>
	<div class="footer-col-wrapper">
		<div class="footer-col  footer-col-1">
			<br>
			{% include twitter_follow.html %}
			<br>
			{% include email_plug.html %}
		</div>
		
		<div class="footer-col  footer-col-4">
			{% include email_subscribe.html %}
		</div>
	</div>
</footer>	