---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
<!-- <div class="custom-social-buttons">		
	<div class="share-buttons-label">
 		<span>Tell your friends</span>
 	</div>
 	<div class="custom-social-button twitter">
 		<a id="twitter-link" href="#"><i class="socicon-twitter-bird"></i></a>
 	</div>
 	<div class="custom-social-button linkedin">
 		<a id="linkedin-link" href="#"><i class="socicon-linkedin"></i></a>
 	</div>
 	<div class="custom-social-button googleplus">
 		<a id="googleplus-link" href="#"><i class="socicon-gplus"></i></a>
 	</div>
</div> -->
